In [1]:
import pandas as pd
import numpy as mp
import os

#### Для выполнения задания потребуется библиотека pandas, может пригодится библиотека os (не обязательно).
    1. Указать использовавшуюся версию библиотеки pandas.
    2. Объединить (конкатенация) несколько файлов Excel в одну таблицу. Файлы в папке 1.
    3. "Смержить" (аналог JOIN в SQL ) таблицу получившуюся на предыдущем шаге с данными в файле 2_sp500. Файл в папке 2.
    4. Построить сводную таблицу. Средний прайс по секторам
    5. Записать сводную в файл pivot.csv, кодировка "Кирилица Windows", разделитель "|"

1. Указать использовавшуюся версию библиотеки pandas.

In [2]:
print(f'Версия библиотеки pandas - {pd.__version__}' )

Версия библиотеки pandas - 1.3.4

2. Объединить (конкатенация) несколько файлов Excel в одну таблицу. Файлы в папке 1.

In [3]:
path = r'/Users/olgakamskaa/Sber_school'
path = os.getcwd()
name_files = '1_sp500'

files = []
df = pd.DataFrame({'file_list':os.listdir(path)})
df
for i in df['file_list']:
    if (i.find('.xlsx') >= 0) & (i.find(name_files) >= 0):
        files.append(i)

df = pd.concat([pd.read_excel(f) for f in files], ignore_index=True)

with open('final.xlsx', 'w') as final:
    df.to_excel('/Users/olgakamskaa/Sber_school/final.xlsx')

In [4]:
df_concat = pd.read_excel('final.xlsx')
df_concat.head(5)

,Unnamed: 0,Symbol,Name,Sector,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,0,MMM,3M Co.,Industrials,2.12,20.33,6.900,26.668,107.15,143.37,92.345,8.121,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,1,ABT,Abbott Laboratories,Health Care,1.82,25.93,1.529,15.573,32.70,40.49,59.477,4.359,2.74,2.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,2,ABBV,AbbVie Inc.,Health Care,3.02,20.87,2.570,2.954,40.10,54.78,85.784,7.190,4.48,18.16,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,3,ACN,Accenture,Information Technology,2.34,19.53,4.068,8.326,69.00,85.88,50.513,4.423,1.75,9.54,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,4,ACE,ACE Limited,Financials,2.21,10.00,10.293,86.897,84.73,104.07,34.753,4.275,1.79,1.18,http://www.sec.gov/cgi-bin/browse-edgar?action...

3. "Смержить" (аналог JOIN в SQL ) таблицу получившуюся на предыдущем шаге с данными в файле 2_sp500. Файл в папке 2.

In [5]:
sp2 = pd.read_excel('2_sp500.xlsx')
df_merge = df_concat.merge(sp2, on='Symbol' ,how='left')

In [6]:
df_merge.head(5)

,Unnamed: 0,Symbol,Name,Sector,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings,Price
0,0,MMM,3M Co.,Industrials,2.12,20.33,6.900,26.668,107.15,143.37,92.345,8.121,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...,141.14
1,1,ABT,Abbott Laboratories,Health Care,1.82,25.93,1.529,15.573,32.70,40.49,59.477,4.359,2.74,2.55,http://www.sec.gov/cgi-bin/browse-edgar?action...,39.60
2,2,ABBV,AbbVie Inc.,Health Care,3.02,20.87,2.570,2.954,40.10,54.78,85.784,7.190,4.48,18.16,http://www.sec.gov/cgi-bin/browse-edgar?action...,53.95
3,3,ACN,Accenture,Information Technology,2.34,19.53,4.068,8.326,69.00,85.88,50.513,4.423,1.75,9.54,http://www.sec.gov/cgi-bin/browse-edgar?action...,79.79
4,4,ACE,ACE Limited,Financials,2.21,10.00,10.293,86.897,84.73,104.07,34.753,4.275,1.79,1.18,http://www.sec.gov/cgi-bin/browse-edgar?action...,102.91

4. Построить сводную таблицу. Средний прайс по секторам

In [7]:
df_avg_by_sector = df_merge.groupby('Sector')['Price'].mean().sort_values(ascending=False).reset_index()
df_avg_by_sector

                         Sector       Price
0             Consumer Staples   114.030000
1                   Industrials  101.346250
2                   Health Care   96.376852
3        Consumer Discretionary   87.326000
4        Information Technology   78.091250
5                     Materials   74.942759
6                        Energy   66.130000
7              Consumer Staples   63.765897
8       Consumer Discretionary    63.740000
9                    Financials   62.665976
10                    Utilities   49.218485
11                   Industries   47.580000
12  Telecommunications Services   35.588333

5. Записать сводную в файл pivot.csv, кодировка "Кирилица Windows", разделитель "|"

In [8]:
import csv

with open('pivot.csv', 'w') as file:
    df.to_csv('pivot.csv', sep='|', encoding='windows-1251')